<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="ads1">
        <th:block th:if="${session.position} != '4'">
            <div class="location location-1">
                <span class="fa fa-close text-danger" onclick="closeAds(1)"></span>
                <a target="_blank" rel="noopener noreferrer" href="" id="ads-banner-1">
                    <img src="" id="img_location_1" alt="">
                </a>
            </div>
            <div class="location location-2">
                <span class="fa fa-close text-danger" onclick="closeAds(2)"></span>
                <a target="_blank" rel="noopener noreferrer" href="" id="ads-banner-2">
                    <img src="" id="img_location_2" alt="">

                </a>
            </div>
            <div class="location location-3">
                <a target="_blank" rel="noopener noreferrer" href="" id="ads-banner-3">
                    <img src="https://media1.giphy.com/media/mCbAmJ6WdChyQU2RW3/giphy.gif" width="20px" height="20px"  alt="">
                </a>
            </div>
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

            <script>

                const url_ads = new URL("http://localhost:8081/api/advertisement")

                let banner_1 = document.getElementById("ads-banner-1")
                let banner_2 = document.getElementById("ads-banner-2")
                let banner_3 = document.getElementById("ads-banner-3")

                let link_1 = document.getElementById("img_location_1")
                let link_2 = document.getElementById("img_location_2")

                axios.get(url_ads).then(response => {
                    if(response.data.length != 0 ){
                        if(response.data[0] != null){
                            banner_1.href = response.data[0].access;
                            link_1.src = response.data[0].banner;

                        }
                        if(response.data[1] != null){
                            banner_2.href = response.data[1].access;
                            link_2.src = response.data[1].banner;

                        }
                        if(response.data[2] != null){
                            banner_3.href = response.data[2].access;
                        }



                    }

                    // console.log(response.data);
                })

                function closeAds(e){

                    if(e == 1){
                        banner_1.classList.add("non-active")
                    }
                    if(e == 2){
                        banner_2.classList.add("non-active")
                    }
                }
            </script>
        </th:block>

    </div>

    <div th:fragment="ads2">
        <th:block th:if="${session.position} != '4'">
            <div class="video-banner" id="video-ads" >
                <span class="" id="video-close" onclick="turnUpAds()"><i class="fa fa-angle-double-right"></i> Skip</span>
                <a href="" id="ads-banner-4">
                    <video src="" id="video_location_4" muted autoplay ></video>
                </a>
            </div>
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

            <script>
                const video_ads = document.getElementById("video-ads");
                const video_close = document.getElementById("video-close");

                setTimeout(function(e){
                    video_close.classList.add('active')
                },10000)

                setTimeout(function(e){
                    video_ads.classList.add('active')
                },20000)

                function turnUpAds(){
                    video_ads.classList.add('active')
                }
                const banner_4 = document.getElementById("ads-banner-4");
                const link_4 = document.getElementById("video_location_4");
                const url_adss = new URL("http://localhost:8081/api/advertisement")
                axios.get(url_adss).then(response => {

                    banner_4.href = response.data[3].access;
                    link_4.src = response.data[3].banner;
                })

            </script>
        </th:block>

    </div>
</body>
</html>