<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="sign-in">
        <form action="/signin/process" method="post">
            <table>
                <tr>
                    <td colspan="2">
                        <div style="margin: 20px 0px ;" class="content">
                            <h3 class="text-light mb-0">GROUP</h3><small class="text-light">@1080+</small>
                            <small style="color:#cdcdcd">Please login and join us</small>
                        </div>
                    </td>
                </tr>
        <tr>

            <td>

                <label class="custom-field">
                    <input type="text" required name="user_fullname"/>
                    <span class="placeholder">Fullname</span>
                </label>

            </td>
        </tr>
        <tr class="mt-4">

            <td>
                <select class="form-select" name="user_gender">
                    <option selected value="0" class="text-light">Male</option>
                    <option value="1" class="text-light">Female</option>
                </select>

            </td>
        </tr>
        <tr>

            <td>

                <label class="custom-field">
                    <input type="text" name="user_email" required/>
                    <span class="placeholder">Email</span>
                </label>

            </td>
        </tr>
        <tr>

            <td>

                <label class="custom-field">
                    <input placeholder="Birthday" class="textbox-n" type="text" onfocus="(this.type='date')" name="user_brithday" id="date" required>
<!--                    <span class="placeholder">Birthday</span>-->
                </label>

            </td>
        </tr>
        <tr>
            <td>

                <label class="custom-field">
                    <input type="password" name="user_password" required/>
                    <span class="placeholder">Password</span>
                </label>

            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit" style="width: 100%;margin-top: 20px" class="btn btn-outline-success">Sign In
                </button>
            </td>

        </tr>
            <tr class="mt-4">
                <td><small class="text-light">Login by facebook, create account</small></td>

            </tr>
            <tr>
                <td style="height: 10px"></td>
            </tr>
            <tr>

                <td>

                    <a href="/processLogin/facebook"
                       style="border-radius:50%; background-color: #2596ec; padding: 8px 14px; margin-top: 10px;"><i
                            class="fa fa-facebook text-light"></i></a>
                    <a href="/login" class="ml-1"
                       style="border-radius:50%;font-size: 13px;background-image: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);padding: 10px 12px; margin-top: 10px;"><i
                            class="fa fa-arrow-left text-light"></i></a>
                </td>
            </tr>
    </table>
            </form>
    </div>
</body>
</html>