<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Home</title>
  <!--/*/ <th:block th:include="fragments/head-fragment.html :: head" ></th:block> /*/-->
</head>
<body>
<header th:insert="fragments/navigation-fragement.html :: header"></header>


<div class="container">
  <div class="row mt-4" style="display: flex; flex-direction: column; align-items: center">
    <h6 class="text-danger mt-3">     <i class="fa fa-film text-secondary"></i> | MOVIE BOX</h6>
    <small class="" style="color: #cdcdcd">&copyTop movie box</small>
  </div>

  <div class="row d-flex justify-content-center">
    <th:block th:each="item : ${movie_box}">
      <a class="mr-3 mt-3"th:href="@{'/information/'+${item.id}}">
        <div class="card-style-1">
          <img th:src="${item.movie_image}" alt="" />
          <div class="episode">
            <h8>Chap
              <p><th:block th:text="${item.episode}"/> /<th:block th:text="${item.total_episodes}"/></p>
            </h8>
          </div>
          <div class="rate">
            <p>
              <th:block th:text="${item.rate}"/>

              <i class="fa fa-star"></i>
            </p>
          </div>
          <div class="play">
            <i class="fa fa-play"></i>
          </div>
          <div class="infor mt-2">
            <h5 th:text="${item.movie_name}"></h5>
            <p>Lượt xem:  <th:block th:text="${item.view}"/> views</p>
          </div>
        </div>
      </a>
    </th:block>
  </div>
  <div class="row mt-4 mr-4" style="display: flex; justify-content: flex-end">
    <a href="" class="text-danger"> <i class="fa fa-arrow-right"></i> <u>continue</u></a>
  </div>
</div>

<div th:insert="fragments/message-fragment.html ::comment"></div>

<div th:insert="fragments/message-fragment.html ::comment"></div>
<!--/*/ <th:block th:include="fragments/ads-fragment.html ::ads1 "></th:block> /*/-->

<!--<div th:insert="fragments/footer-fragment.html ::footer"></div>-->
<!--/*/ <th:block th:include="fragments/head-fragment.html :: script" ></th:block> /*/-->


</body>
</html>